---
id: verification
title: Verification
sidebar_label: Verification
description: Commands regarding the linked Roblox Account
---

## Verification

:::note Info
In order to use RoWifi you **must** link your Roblox account with your Discord account.
:::

### Syntax
```text
!verify username code/game
```

You can choose between the options `code` and `game`.  
With the option `code` you have to place a code in your profile blurb on the account which you have provided in order to verify yourself. With the option `game` you have to join a game with the account you provided in order to verify.

### Example
![alt text](https://media.discordapp.net/attachments/696472005817532458/719527754592288808/unknown.png?width=1026&height=276 "Verification Code Place")
___

## Reverify

The reverification command allows you to remove the current account and lets you verify with another account.

### Syntax

```text
!reverify username
```


___

## Remove

:::warning Note
It is not possible to remove your account from the Database.
:::