---
id: verification
title: Verification
sidebar_label: Verification
description: Commands regarding the linked Roblox Account
---

## Verify

:::note Info
In order to use RoWifi you **must** link your Roblox account with your Discord account.
:::info

### Syntax

```text
!verify username
```
___

## Reverify

The reverification command allows you to remove the current account and lets you verify with another account.

### Syntax

```text
!reverify username
```
___

## Remove

:::warning Note
It is not possible to remove your account from the Database.
:::